[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

"008b9b7" = {path = "/Users/work/Development/git/mp-viewer", editable = true}


[dev-packages]



[requires]

python_version = "3.6"


[[source]]

url = "https://pypi.python.org/simple/"
verify_ssl = true
