[tool.poetry]
name = "crystal_toolkit"
version = "2022.04.19"
description = ""
authors = ["Matthew Horton <mkhorton@lbl.gov>"]

[tool.poetry.dependencies]
python = ">=3.8, <3.11"
pymatgen = "^2022.0.16"
pydantic = "*"
plotly = "^5.3.1"
webcolors = "*"
crystaltoolkit-extension = "^0.6.0"
mp-api = "*"
mp-pyrho = "^0.0.21"
shapely = "^1.8.0"
scikit-learn = { version = "*"}
scikit-image = { version = "*"}

ifermi = { version = "*", optional = true}
pyfftw = { version = "*", optional = true}

dash = { version = "^2.0.0", optional = true }
dash-daq = { version = "*", optional = true }
gunicorn = { version = "*", optional = true }
redis = { version = "*", optional = true }
Flask-Caching = { version = "*", optional = true }
gevent = { version = "*", optional = true }
dash-mp-components = "^0.4.1"
robocrys = { version = "*", optional = true }
habanero = { version = "*", optional = true }
dscribe = { version = "*", optional = true }
dash-extensions = { version = "*", optional = true }
sentry-sdk = { version = "*", optional = true }
dash-vtk = { version = "^0.0.6", optional= true }
kaleido = { version = "^0.2.1", optional = true }
numba = ">=0.53"
uuid = "^1.30"

[tool.poetry.extras]
server = [
    "dash", "dash-daq", "gunicorn", "redis",
    "Flask-Caching", "gevent", "dash-mp-components",
    "robocrys", "habanero", "hiphive", "dscribe",
    "dash-extensions", "sentry-sdk",
]
fermi = ["ifermi", "pyfftw"]
vtk = ["dash-vtk"]
figures = ["kaleido"]

[tool.poetry.dev-dependencies]
black = "^20.8b1"
pre-commit = "*"
dash = {extras = ["testing"], version = "*"}
pytest = "*"
sphinx = "*"
sphinx_rtd_theme = "*"
recommonmark = "*"
dephell = "*"
mistune = "<2.0.0"

[tool.isort]
profile = "black"

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"

