[tool.poetry]
name = "crystal_toolkit"
version = "2021.01.09"
description = ""
authors = ["Matthew Horton <mkhorton@lbl.gov>"]

[tool.poetry.dependencies]
python = "^3.7"
pymatgen = "^2020.9.14"
typing-extensions = { version = "*", python = "~3.7" }
pydantic = "*"
plotly = "^4.10"
webcolors = "*"
crystaltoolkit-extension = "^0.3.0"
mp-pyrho = "^0.0.14"

ifermi = { version = "*", optional = true}
pyfftw = { version = "*", optional = true}

dash = { version = "^1.19.0", optional = true }
dash-daq = { version = "*", optional = true }
gunicorn = { version = "*", optional = true }
redis = { version = "*", optional = true }
Flask-Caching = { version = "*", optional = true }
gevent = { version = "*", optional = true }
dash-mp-components = { version = "^0.2.5", optional = true }
scikit-learn = { version = "*", optional = true }
robocrys = { version = "*", optional = true }
scikit-image = { version = "*", optional = true }
habanero = { version = "*", optional = true }
dscribe = { version = "*", optional = true }
dash-extensions = { version = "*", optional = true }
sentry-sdk = { version = "*", optional = true }
dash-vtk = { version = "^0.0.6", optional= true }
kaleido = { version = "*", optional = true }

[tool.poetry.extras]
server = [
    "dash", "dash-daq", "gunicorn", "redis",
    "Flask-Caching", "gevent", "dash-mp-components", "scikit-learn",
    "robocrys", "scikit-image", "habanero", "hiphive", "dscribe",
    "dash-extensions", "sentry-sdk", "dash-vtk", "kaleido"
]
fermi = ["ifermi", "pyfftw"]

[tool.poetry.dev-dependencies]
black = "^20.8b1"
pre-commit = "*"
dash = {extras = ["testing"], version = "*"}
pytest = "*"
sphinx = "*"
sphinx_rtd_theme = "*"
recommonmark = "*"
dephell = "*"

[tool.isort]
profile = "black"

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"

