ase==3.19.1
attrs==19.3.0
brotli==1.0.7
certifi==2020.4.5.1
cffi==1.14.0; platform_python_implementation == "CPython" and sys_platform == "win32"
chardet==3.0.4
click==7.1.2
cycler==0.10.0
dash==1.12.0
dash-core-components==1.10.0
dash-daq==0.4.0
dash-html-components==1.0.3
dash-mp-components==0.0.21
dash-renderer==1.4.1
dash-table==4.7.0
decorator==4.4.2
flask==1.1.2
flask-caching==1.8.0
flask-compress==1.5.0
future==0.18.2
gevent==1.5.0
greenlet==0.4.15; platform_python_implementation == "CPython"
gunicorn==20.0.4
h5py==2.10.0
habanero==0.7.2
hiphive==0.7
idna==2.9
imagecodecs==2020.5.30
imageio==2.8.0
importlib-metadata==1.6.0; python_version < "3.8"
inflect==4.1.0
itsdangerous==1.1.0
jinja2==2.11.2
joblib==0.15.1
jsonschema==3.2.0
kiwisolver==1.2.0
latexcodec==2.0.0
llvmlite==0.32.1
markupsafe==1.1.1
matminer==0.6.3
matplotlib==3.2.1
monty==3.0.2
mpmath==1.1.0
networkx==2.4
numba==0.49.1
numpy==1.18.4
palettable==3.3.0
pandas==1.0.3
pillow==7.1.2
pint==0.11
plotly==4.7.1
pubchempy==1.0.4
pybtex==0.22.2
pycparser==2.20; platform_python_implementation == "CPython" and sys_platform == "win32"
pydantic==1.5.1
pymatgen==2020.4.29
pymongo==3.10.1
pyparsing==2.4.7
pyrsistent==0.16.0
python-dateutil==2.8.1
pytz==2020.1
pywavelets==1.1.1
pyyaml==5.3.1
redis==3.5.2
requests==2.23.0
retrying==1.3.3
robocrys==0.2.1
ruamel.yaml==0.16.10
ruamel.yaml.clib==0.2.0; platform_python_implementation == "CPython" and python_version < "3.9"
scikit-image==0.17.2
scikit-learn==0.22.2.post1
scipy==1.4.1
six==1.14.0
spglib==1.15.1
sympy==1.5.1
tabulate==0.8.7
tifffile==2020.5.11
tqdm==4.46.0
typing-extensions==3.7.4.2; python_version >= "3.7" and python_version < "3.8"
urllib3==1.25.9
webcolors==1.11.1
werkzeug==1.0.1
zipp==3.1.0; python_version < "3.8"
