black==20.*,>=20.8.0.b1
crystaltoolkit-extension==0.*,>=0.3.0
dash[testing]==1.*,>=1.19.0
dash-daq
dash-extensions
dash-mp-components==0.*,>=0.2.5
dash-vtk==0.*,>=0.0.6
dephell
dscribe
flask-caching
gevent
gunicorn
habanero
hiphive
ifermi
kaleido
mp-pyrho==0.*,>=0.0.14
plotly==4.*,>=4.10.0
pre-commit
pydantic
pyfftw
pymatgen==2020.*,>=2020.9.14
pytest
recommonmark
redis
robocrys
scikit-image
scikit-learn
sentry-sdk
sphinx
sphinx-rtd-theme
typing-extensions; python_version == "3.7.*" and python_version >= "3.7.0"
webcolors
