# Packages needed to run the tests.
# Switch into a virtual environment
# pip install -r requirements.txt

chromedriver-binary
dash[testing]>=0.31.0  # be sure to install dash with additional dependencies for testing
dash-core-components
dash-html-components
dash-renderer
ipdb
percy
selenium
flake8
pylint
