@charset "utf-8";

//@import url('https://fonts.googleapis.com/css?family=EB+Garamond:400,600&subset=greek');
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,600');
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Serif:300,300i,400,400i,500,500i');

$family-serif: "IBM Plex Serif", "EB Garamond", Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;

$family-primary: "IBM Plex Sans", sans-serif;

$background: hsl(216, 27%, 24%);
//$primary: #52afb9;

body, html, .body {
  background: #f3f3f3 !important;
}

._dash-undo-redo {
  display: none;
}

summary {
  outline: none;
  cursor: pointer;
}

details[open] summary ~ * {
  animation: sweep .2s ease-in-out;
}

// for panel reveal animation
@keyframes sweep {
  0%    {opacity: 0; margin-top: 0;}
  100%  {opacity: 1; margin-top: 0.5rem;}
}

// for loading text animation
@keyframes blink {
    0% {
      opacity: .2;
    }
    20% {
      opacity: 1;
    }
    100% {
      opacity: .2;
    }
}

details .input,
details .button{
  padding-bottom: 0;
  padding-top: 0;
}
details .input{
  max-width: 91%;
}

.mpc-panel-description {
  margin-bottom: 0.5rem;
  font-style: italic;
  font-family: $family-serif;
}

// thanks to https://martinwolf.org/before-2018/blog/2015/01/pure-css-savingloading-dots-animation/
.mpc-loading span {
    animation-name: blink;
    animation-duration: 1.4s;
    animation-iteration-count: infinite;
    /**
     * This makes sure that the starting style (opacity: .2)
     * of the animation is applied before the animation starts.
     * Otherwise we would see a short flash or would have
     * to set the default styling of the dots to the same
     * as the animation. Same applies for the ending styles.
     */
    animation-fill-mode: both;
}
.mpc-loading span:nth-child(2) {
    animation-delay: .2s;
}
.mpc-loading span:nth-child(3) {
    animation-delay: .4s;
}

.mpc blockquote {
  padding-left: 1rem;
  margin-bottom: 1rem;
}

.mpc-radio {
  margin-right: 0.5rem;
}

// thanks to https://www.w3schools.com/css/css_tooltip.asp
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 150%;
  left: 50%;
  margin-left: -60px;
}
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
}

@import "../node_modules/bulma/bulma.sass";


// style dash_core_component Dropdown
.Select--multi .Select-value {
	background-color: $primary;
	//background-color: rgba(0, 126, 255, .08);
	border-radius: 2px;
	border: 1px solid #c2e0ff;
	border: 1px solid rgba(0, 126, 255, .24);
	color: $white;
	display: inline-block;
	font-size: .9em;
	line-height: 1.4;
	margin-left: 5px;
	margin-top: 5px;
	vertical-align: top
}

.mpc-label {
  font-weight: 700;
  margin-bottom: 0 !important;
}

.mpc-control {
  @extend .control;
  margin-bottom: 0.5rem;
}


@keyframes fadein {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-webkit-keyframes fadein {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes spinner {
  to {transform: rotate(360deg);}
}

._dash-loading-callback {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 20px;
  left: 20px;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border-top: 2px solid $primary;
  border-right: 2px solid transparent;
  animation: spinner .6s linear infinite; // add fadein?
  //animation-delay: 0.5s;
  //opacity: 0;
}
