name: pytest

on:
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        python-version: ["3.9"]

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
          cache: 'pip'
          cache-dependency-path: '**/pyproject.toml'
      - name: Install webdriver
        run: sudo apt-get update && sudo apt-get install chromium-chromedriver
      - name: Install dependencies
        run: |
          python${{ matrix.python-version }} -m pip install --upgrade pip packaging wheel
          python${{ matrix.python-version }} -m pip install `grep numpy== requirements/ubuntu-latest_py${{ matrix.python-version }}_extras.txt`
          python${{ matrix.python-version }} -m pip install -r requirements/ubuntu-latest_py${{ matrix.python-version }}_extras.txt
          python${{ matrix.python-version }} -m pip install --upgrade pip
          python${{ matrix.python-version }} -m pip install --no-deps .
      - name: Test modules
        run: python${{ matrix.python-version }} -m pytest tests
      - name: Test example apps
        env:
          PERCY_TOKEN: ${{ secrets.PERCY_TOKEN }}
        run: python${{ matrix.python-version }} -m pytest --color=yes --webdriver Chrome --headless crystal_toolkit/apps/examples/tests/
