name: release

on: workflow_dispatch

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 2

      - name: Install poetry
        # install poetry before setup-python to enable cache retrieval
        run: pipx install poetry

      - name: Set up Python 3.8
        uses: actions/setup-python@v4
        with:
          python-version: 3.8
          cache: poetry

      - name: Install dependencies
        run: |
          pip install --upgrade pip
          poetry install -E server -E fermi

      - name: Build and publish
        run: |
          poetry build
          poetry config pypi-token.pypi ${{ secrets.PYPI_API_TOKEN }}
          poetry publish
